{
    "bold": "/mnt/scratch/testdata/A00008326/functask/bold.nii.gz",
    "events": "/mnt/scratch/testdata/A00008326/functask/events.tsv",
    "sbref": "/mnt/scratch/testdata/A00008326/functask/bold.nii.gz"
}

